<%- include ('partials/header.ejs'); %>
<%- include ('partials/navbar.ejs'); %>
<body>
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Bem-vindo!</h1>
              <p class="col-md-8 fs-4">Este é um blog simples feito em Node.js.</p>
            </div>
        </div>

        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <a href="/<%= article.slug %>" style="text-decoration: none; color: inherit;"><h2><%= article.title %></h2></a>
                </div>
    
                <div class="card-body">

                </div>
            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col-12">
                <a style="float: right;" href="/articles/page/2">Próxima >></a>
                <br>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>